<!DOCTYPE html>
<!--
	TODO:
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>COLORS</title>
    <link href="public/css/foundation.min.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
</head>
<body>