<% include public/views/header.ejs %>

<container id="container">
    <body>
    <div id="img">
    </div>
    <div style="small-1 columns text-center">
        <a class="button large" id="blueButton">
            CLICK ME
        </a>
        <a class="button large" id="redButton">
            THX
        </a>
    </div>
    </body>
</container>
<audio autoplay loop>
    Your browser does not support the <code>audio</code> element.
    <source src="/public/images/Audio.mp3" type="audio/wav">
</audio>

<% include public/views/footer.ejs %>